@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

body {
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1567206563064-6f60f40a2b57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80')no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #ff68eb;
  letter-spacing: 1px;
  word-spacing: 2px;
}

p {
  color: #1d1d1d;
  line-height: 1.7;
  letter-spacing: 1px;
  word-spacing: 2px;
  transition: all .4s ease-in;
  font-size: 1.1rem;
}

p:hover {
  color: #d6ff41;
}

.btn-xl {
  padding: 1rem 2rem;
  background: #ff68eb5b;
  letter-spacing: 1px;
  word-spacing: 2px;
  border: #ff68eb;
  transition: all .5s ease-in;
}

.btn-xl:hover {
  background: #d6ff41;
  color: #000000;
  transform: translateY(8px);
}

@media (max-width:992px) {
  .media {
    display: none;
  }
  p {
    padding: 1rem;
  }
}

@media (max-width:768px) {
  .media {
    display: none;
  }
  p {
    padding: 1rem;
  }
}

@media (max-width:576px) {
  .media {
    display: none;
  }
  p {
    padding: 1rem;
    color: #d6ff41;
  }
}